h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --font-family-global: 'Roboto', sans-serif;
  --font-family: 'Raleway', sans-serif;
  --bg-color: #ffffff;
  --bg-color-hero-footer: #2f303a;
  --bg-color-section: #f5f4fa;
  --bg-hover-btn-hero: #0c76cc;
  --bg-speciality: rgba(47, 48, 58, 0.8);
  --bg-hover-portfolio-card: rgba(33, 150, 243, 0.9);
  --color: #212121;
  --color-black: #000000;
  --color-title: #ffffff;
  --color-text: #757575;
  --color-hover-focus: #2196f3;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-bg-social: rgba(255, 255, 255, 0.1);
  --color-header-bb: #ececec;
  --color-border-inputs: rgba(33, 33, 33, 0.2);
  --border-potfolio-card: #eeeeee;
  --border-client: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: var(--font-family-global);
  color: var(--color);
  background-color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/* Утилиты */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid var(--color-header-bb);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color);
}

.logo > span {
  color: var(--color-hover-focus);
}

.nav {
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color);

  transition: color 250ms var(--timing-function);

  position: relative;
}

.header-link.active::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--bg-hover-btn-hero);
  border-radius: 2px;
}

.active,
.header-link:hover,
.header-link:focus {
  color: var(--color-hover-focus);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.link {
  color: var(--color-text);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Секция герой */

.hero-section {
  display: block;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-hero-footer);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-title {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  color: var(--color-title);
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-global);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--color-hover-focus);
  color: var(--color-title);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.button:focus,
.button:hover {
  background-color: var(--bg-hover-btn-hero);
  color: var(--bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Модальное окно */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
  z-index: 1;
}

.modal {
  position: relative;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--color-black);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color var(--duration) var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--color-hover-focus);
}

.close-icon {
  fill: currentColor;
}

/* Форма */

.form-title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.form-inputs {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 20px;
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-field {
  position: relative;
  color: var(--color);

  transition: color var(--duration) var(--timing-function);
}

.form-label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-label:hover,
.form-label:focus-within {
  color: var(--color-hover-focus);
}

.form-text {
  display: block;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-text);

  margin-bottom: 4px;
}

.form-wrap {
  position: relative;
}

.border-input {
  border: 1px solid var(--color-border-inputs);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function),
    filter var(--duration) var(--timing-function);
}

.form-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  outline: none;
}

.border-input:focus,
.border-input:hover {
  border: 1px solid var(--color-hover-focus);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  fill: currentColor;
}

.form-textarea {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  padding: 11px 16px;
  outline: none;
  resize: none;
}

/* Чек-бокс */

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");

  transition: background-image var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    transform var(--duration) var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-color: var(--color-hover-focus);
}

.checkbox-input:focus-within + .checkbox-icon,
.checkbox-input:hover + .checkbox-icon {
  transform: scale(1.1);
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.checkbox-link {
  color: var(--color-hover-focus);
}

/* Особенности */

.peculiarities-list {
  text-align: left;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-item + .peculiarities-item {
  margin-left: 30px;
}

.peculiarities-icon-wrap {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--bg-color-section);
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  color: var(--color-text);
}

/* Чем мы занимаемся */
.speciality-section {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.speciality-list-item {
  position: relative;
  width: 370px;
}

.speciality-list-item + .speciality-list-item {
  margin-left: 30px;
}

.speciality-position-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background-color: var(--bg-speciality);
}

.speciality-text {
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
}

/* Команда */
.team {
  background-color: var(--bg-color-section);
}

.team-item {
  width: 270px;
  background-color: var(--bg-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-wrap-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  color: var(--color-text);
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--border-client);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.team-social-link:hover {
  background-color: var(--color-hover-focus);
  color: var(--color-title);
}

.team-icon-social {
  fill: currentColor;
}

/* Постоянные клиенты */

.client-item + .client-item {
  margin-left: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-client);
  border-radius: 4px;
  color: var(--border-client);

  transition: border var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.client-link:hover {
  border: 1px solid var(--color-hover-focus);
  color: var(--color-hover-focus);
}

.client-icon {
  fill: currentColor;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero-footer);
  color: var(--bg-color);
}

.footer-wraper {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  color: var(--bg-color);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link {
  display: block;
  text-decoration: none;
  line-height: 1.71;
  margin-top: 9px;
  color: var(--color-footer-link);
  cursor: pointer;

  transition: color var(--duration) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--bg-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-title {
  font-style: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background: var(--color-bg-social);
  border: none;
  border-radius: 50%;
  color: var(--bg-color);

  transition: background-color var(--duration) var(--timing-function);
}

.social-link:hover {
  background-color: var(--color-hover-focus);
}

.icon-social {
  fill: currentColor;
}

.footer-form {
  margin-left: 93px;
}

.footer-send {
  display: flex;
}

.footer-input {
  min-width: 358px;
  padding: 15px 16px;
  color: var(--color-title);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-send .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

.send-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Portfolio */
.portfolio-list-btn {
  margin-bottom: 50px;
}

.portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background: var(--bg-color-section);
  cursor: pointer;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--color-title);
  background-color: var(--color-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.potfolio-img {
  display: block;
  width: 100%;
}

.portfolio-item-card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.potfolio-link {
  display: block;
  width: 370px;
  text-decoration: none;
  color: var(--color);
  cursor: pointer;

  transition: box-shadow var(--duration) var(--timing-function);
}

.potfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bg-hover-portfolio-card);

  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.potfolio-description {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-title);
}

.wrap-inside-cards {
  text-align: left;
  padding: 20px 24px;
  border: 1px solid var(--border-potfolio-card);
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
